
{% extends "base/base.html" %}



{% block content %}

<div class="pagetitle">
    <h1>Data Tables</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard'%}">Home</a></li>
        <li class="breadcrumb-item">Student Performance</li>
        <li class="breadcrumb-item active">Data</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class='section'>

    
    <form method="get" action="">
        {{ filter_form.as_p }}
        <button type="submit">Filter</button>
    </form>

    <h3>Performance Breakdown by Grade</h3>
    <ul>
        {% for grade in performance_breakdown %}
            <li>{{ grade.mean_grade }}: {{ grade.student_count }} students</li>
        {% endfor %}
    </ul>

  </section>  

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">List of Student Performances</h5>
            
            <!-- Table with stripped rows -->
            <div class="table-responsive">
                            <table class="table table-striped datatable">
              <thead>
                <tr>
                    <th>Student Name</th>
                    <th>School</th>
                    <th>Examination Session</th>
                    <th>Total Score</th>
                    <th>Mean Grade</th>
                </tr>
              </thead>
              <tbody>
                {% for performance in performances %}
                <tr>
                    <td>{{ performance.student.first_name }} {{ performance.student.last_name }}</td>
                    <td>{{ performance.student.school.name }}</td>
                    <td>{{ performance.examination_session.year }}</td>
                    <td>{{ performance.total_score }}</td>
                    <td>{{ performance.mean_grade }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- End Table with stripped rows -->

      </div>
    </div>

  </div>
</div>
</section>

{% endblock %}