
{% extends "base/base.html" %}



{% block content %}

<div class="pagetitle">
    <h1>Subject Performance Ranking  </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard'%}">Home</a></li>
        <li class="breadcrumb-item">Subject Performance Ranking</li>
        <li class="breadcrumb-item active">Data</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->



  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Subject Performance Ranking </h5>
  
            <table class="table datatable">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Mean Points</th>
                        <th>Mean Grade</th>
                        <th>Total Students</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject_data in subjects_data %}
                    <tr>
                        <td>{{ subject_data.subject.name }}</td>
                        <td>{{ subject_data.mean_points }}</td>
                        <td>{{ subject_data.mean_grade }}</td>
                        <td>{{ subject_data.total_students }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           <!-- End Table with stripped rows -->
        </div>
    </div>
    </div>
    </div>
    </section>
    
    {% endblock %}