{% extends "base/base.html" %}

{% block content %}

<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
          <img src="{{ profile.profile_image.url }}" alt="Profile" class="rounded-circle">
          <h2>{{ profile.full_name }}</h2>
          <h3>{{ profile.role }}</h3>
          <div class="social-links mt-2">
            <a href="{{ profile.twitter }}" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="{{ profile.facebook }}" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="{{ profile.instagram }}" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="{{ profile.linkedin }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8">
      <div class="card">
        <div class="card-body pt-3">
          <!-- Bordered Tabs -->
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
            </li>
          </ul>
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="profile-overview">
              <h5 class="card-title">About</h5>
              <p class="small fst-italic">{{ profile.about }}</p>

              <h5 class="card-title">Profile Details</h5>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Full Name</div>
                <div class="col-lg-9 col-md-8">{{ profile.full_names }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">School</div>
                <div class="col-lg-9 col-md-8">{{ profile.school }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">County</div>
                <div class="col-lg-9 col-md-8">{{ profile.county }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Address</div>
                <div class="col-lg-9 col-md-8">{{ profile.address }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Phone</div>
                <div class="col-lg-9 col-md-8">{{ profile.phone }}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Email</div>
                <div class="col-lg-9 col-md-8">{{ profile.email }}</div>
              </div>

            </div>

            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
              <!-- Profile Edit Form -->
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                  <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                  <div class="col-md-8 col-lg-9">
                    <img src="{{ profile.profile_image.url }}" alt="Profile" class="img-fluid">
                    <div class="pt-2">
                      <!-- Upload Button -->
                      <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image" onclick="document.getElementById('profileImageInput').click();">
                        <i class="bi bi-upload"></i> Upload
                      </a>
                      <!-- Remove Button -->
                      <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image" onclick="removeProfileImage();">
                        <i class="bi bi-trash"></i> Remove
                      </a>
                      <!-- Hidden File Input -->
                      <input type="file" id="profileImageInput" name="profile_pic" style="display: none;" accept="image/*" onchange="previewImage(event)">
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="full_names" type="text" class="form-control" id="fullName" value="{{ profile.full_names }}">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                  <div class="col-md-8 col-lg-9">
                    <textarea name="about" class="form-control" id="about" style="height: 100px">{{ profile.about }}</textarea>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="job" class="col-md-4 col-lg-3 col-form-label">Role</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="job" type="text" class="form-control" id="job" value="{{ profile.role }}">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="country" class="col-md-4 col-lg-3 col-form-label">County</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="country" type="text" class="form-control" id="county" value="{{ profile.county }}">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="address" type="text" class="form-control" id="address" value="{{ profile.address }}">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="phone" type="text" class="form-control" id="phone" value="{{ profile.phone }}">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="email" type="email" class="form-control" id="email" value="{{ profile.email }}">
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </form><!-- End Profile Edit Form -->
            </div>

            <div class="tab-pane fade pt-3" id="profile-settings">
              <!-- Settings Form -->
              <form>
                <div class="row mb-3">
                  <label for="emailNotifications" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                  <div class="col-md-8 col-lg-9">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="changesMade" checked>
                      <label class="form-check-label" for="changesMade">
                        Changes made to your account
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="newProducts" checked>
                      <label class="form-check-label" for="newProducts">
                        Information on new products and services
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="proOffers">
                      <label class="form-check-label" for="proOffers">
                        Marketing and promo offers
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                      <label class="form-check-label" for="securityNotify">
                        Security alerts
                      </label>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
              </form><!-- End settings Form -->
            </div>

            <div class="tab-pane fade pt-3" id="profile-change-password">
              <!-- Change Password Form -->
              <form>
                <div class="row mb-3">
                  <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="current_password" type="password" class="form-control" id="currentPassword">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="new_password" type="password" class="form-control" id="newPassword">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="confirmNewPassword" class="col-md-4 col-lg-3 col-form-label">Confirm New Password</label>
                  <div class="col-md-8 col-lg-9">
                    <input name="confirm_new_password" type="password" class="form-control" id="confirmNewPassword">
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
              </form><!-- End change password Form -->
            </div>

          </div><!-- End Bordered Tabs -->
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  // Preview the selected image
  function previewImage(event) {
    const image = document.querySelector("img");
    image.src = URL.createObjectURL(event.target.files[0]);
  }

  // Remove the profile image
  function removeProfileImage() {
    const image = document.querySelector("img");
    image.src = "{{ profile.profile_pic.url }}";  // Reset to the default or current image
    document.getElementById('profileImageInput').value = "";  // Reset the file input
  }
</script>

{% comment %}
  <div class="pagetitle">
    <h1>Profile Details</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ profile.full_names }}</h5>
            <p><strong>Username:</strong> {{ profile.user.username }}</p>
            <p><strong>Role:</strong> {{ profile.get_role_display }}</p>
            <p><strong>School:</strong> {{ profile.school }}</p>
            <p><strong>County:</strong> {{ profile.county }}</p>
            <p><strong>Address:</strong> {{ profile.address }}</p>
            <p><strong>Email:</strong> {{ profile.email }}</p>
            <p><strong>Phone:</strong> {{ profile.phone }}</p>
            <p><strong>Website:</strong> <a href="{{ profile.website }}" target="_blank">{{ profile.website }}</a></p>
            <p><strong>About:</strong> {{ profile.about }}</p>
            <div class="profile-image">
              <img src="{{ profile.profile_image.url }}" alt="Profile Image" width="150">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endcomment %}
{% endblock %}
