
{% extends "base/base.html" %}



{% block content %}

<div class="pagetitle">
    <h1>Student List </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard'%}">Home</a></li>
        <li class="breadcrumb-item">School List </li>
        <li class="breadcrumb-item active">Data</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->



  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">List of Schools</h5>
            <!-- Table with stripped rows -->
            <table class="table datatable">
                <thead>
                <th>School Name</th>
                <th>School Code</th>
                <th>County</th>
                <th>Address</th>
                <th>Details</th> <!-- Column for the Details Link -->
            </tr>
        </thead>
        <tbody>
            {% for school in schools %}
                <tr>
                    <td>{{ school.name }}</td>
                    <td>{{ school.school_code }}</td>
                    <td>{{ school.county.name }}</td>
                    <td>{{ school.address|default:"No Address Provided" }}</td>
                    <td><a href="{% url 'school_details' school.id %}">View Details</a></td> <!-- Link to the school details -->
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No schools available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- End Table with stripped rows -->
    
    </div>
    </div>

    </div>
    </div>
</section>

{% endblock %}
    
